/* custom.css */
body {
    background-color: #212121; /* Dark grey background */
    color: #FFFFFF; /* White text */
}

.sidebar .sidebar-content {
    background-color: #333333; /* Slightly lighter grey background for the sidebar */
    color: #FFFFFF; /* White text */
}

.streamlit-button {
    background-color: #424242; /* Dark grey button background */
    color: #FFFFFF; /* White text */
    border-color: #FFFFFF; /* White border color */
}

.streamlit-button:hover {
    background-color: #616161; /* Slightly lighter grey on hover */
}
